new_course_data.json
2020-2024_Course_Data.json
course_data.json
old_course_data.json
scraping_materials/old_course_data.json
./scraping_material/old_course_data.jsonvenv/
venv/
./qguideguide_backend/venv/
./core/venv
venv/
./qguideguide_backend/course_data.json
./qguideguide_backend/courses/static/course_data.json
db.sqlite3
./qguideguide_backend/db.sqlite3
