{% extends "base.html" %}

{% load static %}

{% block title %}Courses Table{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table id="courses" class="table table-striped table-bordered course-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Department</th>
                        <th>Instructor</th>
                        <th>Term</th>
                        <th>Class Size</th>
                        <th>Rating</th>
                        <th>Hours</th>
                        <th>Instructor Rating</th>
                        <th>Instructor Dept. Rating</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>
<script src="{% static 'js/course_table.js' %}"></script>
{% endblock %}