

<nav>
    <div class="nav-container">
        <!-- <div id="logo" class="logo" data-url="{% url 'courses_list' %}"> -->
            <span>QGuideGuide</span>
        </div>
        <ul class="nav-links">
            <!-- <li><a href="{% url 'courses_list' %}">Courses</a></li>
            <li><a href="#">Professor Rankings</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li> -->
            <li><a href="/courses">Courses</a></li>
            <li><a href="/professors">Professor Rankings</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>

<!-- <script src="{% static 'js/nav.js' %}"></script> -->