.main-table {
  width: 100%; 
  height: 92vh;
  bottom: 0;
  position: fixed;
  background-color: #fff;
}
body.dark-mode .main-table {
  background-color: var(--navbar-bg-dark);
}

body.dark-mode .guide {
  background-color: var(--dark-greyish);
  color: var(--text-color-dark);
}