.logo-link {
  text-decoration: none;
  color: #333;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  transition: transform 0.3s ease;
  -webkit-user-select: none;
  user-select: none;
}

/* Hamburger into x! */
.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #333;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(-2px, -2px);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(0, -4px);
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #333;
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: scale(0.2, 0.2);
}

nav {
  background-color: #f0f0f0;
  color: #333;
  padding: 0;
  margin: 0;
  position: fixed;
  box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 7vh;
  top: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  padding: 1.6vh 2vh;
}

.logo {
  font-size: 3vh;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4vh;
}

.nav-links li {
  margin: 0;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
  padding: 1vh 2vh;
  border-radius: 0.8vh;
  transition: background-color 0.2s;
}

.nav-links li a:hover {
  background-color: #e0e0e0;
}

/* Mobile Styles */
@media (max-width: 850px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    position: absolute;
    top: 7vh;
    background-color: #f0f0f0;
    padding: 2vh;
    border-radius: 1vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.1);
    right: -100%;
    transition: right 0.5s ease
  }

  .nav-links.open {
    right: 0vh;
  }
}