.professors-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.guide {
  margin-top: 4vh;
  height: 4vh;
  background-color: var(--greyish);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  color: var(--text-color-light);
}

body.dark-mode .guide {
  background-color: var(--dark-greyish);
  color: var(--text-color-dark);
}

.professors-container {
  display: flex;
  width: 100%;
  height: 92vh;
  margin-top: 8vh;
  background-color: #fff;
}

body.dark-mode .professors-container {
  background-color: var(--navbar-bg-dark);
}

.section-left,
.section-middle,
.section-right {
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

body.dark-mode .section-left,
body.dark-mode .section-middle,
body.dark-mode .section-right {
  background-color: var(--navbar-bg-dark);
  color: var(--text-color-dark);
}

.section-left {
  flex: 2;
}

.section-right {
  flex: 1;
}

.guide-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.guide-link:hover {
  text-decoration: underline;
}

/* Update these styles for the column header buttons */
.professors-page th button {
  color: rgb(31, 41, 55) !important;
}

body.dark-mode .professors-page th button {
  color: white !important;
}