.professors-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.guide {
  margin-top: 4vh;
  height: 4vh;
  background-color: var(--greyish);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2vw;
  color: var(--text-color-light);
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}

body.dark-mode .guide {
  background-color: var(--dark-greyish);
  color: var(--text-color-dark);
}

.professors-container {
  display: flex;
  width: 100%;
  height: 92vh;
  background-color: #fff;
  overflow-x: auto;
  position: absolute;
  top: 8vh;
}

body.dark-mode .professors-container {
  background-color: var(--navbar-bg-dark);
}

.section-left,
.section-middle,
.section-right {
  padding: 1rem;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #fff;
  min-width: min-content;
}

body.dark-mode .section-left,
body.dark-mode .section-middle,
body.dark-mode .section-right {
  background-color: var(--navbar-bg-dark);
  color: var(--text-color-dark);
}

.section-left {
  flex: 2;
  min-width: 800px;
}

.section-right {
  flex: 1;
  min-width: 400px;
}

.guide-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.guide-link:hover {
  text-decoration: underline;
}

/* Update these styles for the column header buttons */
.professors-page th button {
  color: rgb(31, 41, 55) !important;
}

body.dark-mode .professors-page th button {
  color: white !important;
}