body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.non-navbar {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;     /* vertical stacking */
  align-items: center;        /* center horizontally */
  justify-content: flex-start;/* or 'center', 'space-between', etc. */
  /* remove bottom: 0 and left: 0 if you don't want it pinned */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  left: 0;
  width: 0.6vw;
  height: 0.6vw;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 0.5vh;
  width: 0.6vh;
  height: 0.6vh;
}